<div *ngIf="news$ | async as news">
    <mat-card class="card" *ngFor="let article of news.articles; index as i">
        <mat-card-header>
            <img mat-card-sm-image src="{{article.urlToImage}}" alt="Photo of news article">
            <mat-card-title>
                {{ article.title }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ article.description }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Source: {{ article.source.name }}
                </li>
                <li>
                    Author: {{ article.author }}
                </li>
                <li>
                    Published: {{ article.publishedAt | date:'medium' }}
                </li>
            </ul>
            <p>
                {{ article.content }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="accent" (click)="openNewsLink(article.url);">
                <mat-icon>
                    launch
                </mat-icon>
                Full Article
            </button>
        </mat-card-actions>
    </mat-card>
</div>